<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Photo Booth: retratos, paisajes y eventos. Capturo instantes únicos con luz y emoción.">
    <meta name="keywords" content="fotografía, portfolio, retrato, paisaje, eventos, fotógrafo">
    <meta name="author" content="Darius-Mihai Berinde">
    <meta name="robots" content="noindex, nofollow">
    
    <title>Contacto - The Photo Booth</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">

    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>

    <!-- CSS -->
    <link href="../css/style.css" rel="stylesheet">

</head>
<body>

    <header>
            <!-- Navegacion -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/logo.png" alt="Logo" id="logo-header">
                    <span>The Photo Booth</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navMenu" aria-controls="navMenu"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="galeria.html">Galería</a></li>
                    <li class="nav-item"><a class="nav-link" href="presupuesto.html">Presupuesto</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Contacto</a></li>
                </ul>
                </div>
            </nav>
        </header>

    <!-- Seccion contacto -->
    <section id="contacto" class="container my-5">
        <h2 class="text-center mb-4">Contacto</h2>
        <div class="row justify-content-center align-items-center">
            <!-- Mapa -->
            <div class="col-lg-6 mb-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d240.5329177453755!2d-1.1472292810649094!3d37.998509701617955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63819233c88235%3A0x2edebaf116eb6364!2sAv.%20Reyes%20Cat%C3%B3licos%2C%2036%2C%2030009%20Murcia!5e0!3m2!1sen!2ses!4v1749665275476!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            <!-- Datos de contacto -->
                <h5 class="my-3">Encuéntrame en</h5>
                <p><strong>Dirección:</strong>  Av. Reyes Católicos, 36, 30009 Murcia, España</p>
                <p><strong>Teléfono:</strong> <a href="tel:+34600123456">+34 600 123 456</a></p>
                <p><strong>Email:</strong> <a href="mailto:solicitudes@thephotobooth.es">solicitudes@thephotobooth.es</a></p>
                <h5 class="mt-4 mb-3">Sígueme</h5>
                <a href="https://instagram.com/" class="me-3 text-secondary fs-4"><i class="bi bi-instagram"></i></a>
                <a href="https://facebook.com/" class="me-3 text-secondary fs-4"><i class="bi bi-facebook"></i></a>
                <a href="https://wa.me/34600123456" class="me-3 text-secondary fs-4"><i class="bi bi-whatsapp"></i></a>
                <a href="https://linkedin.com/in/" class="text-secondary fs-4"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </section>

    
    <footer class="py-4">
        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
        <!-- Logo -->
        <a href="../index.html" class="mb-3 mb-md-0">
            <img src="../img/logo.png" alt="Logo" id="logo-footer">
        </a>

        <!-- Iconos Sociales -->
        <div class="mb-3 mb-md-0">
            <a href="https://instagram.com/" class="mx-2 fs-4"><i class="bi bi-instagram"></i></a>
            <a href="https://facebook.com/" class="mx-2 fs-4"><i class="bi bi-facebook"></i></a>
            <a href="https://wa.me/34600123456" class="mx-2 fs-4"><i class="bi bi-whatsapp"></i></a>
            <a href="https://linkedin.com/" class="mx-2 fs-4"><i class="bi bi-linkedin"></i></a>
        </div>

        <!-- Copyright -->
        <div class="text-secondary small">
            &copy; 2025 The Photo Booth
        </div>
        </div>
    </footer>

    <!-- Boostrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.4.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
